<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-07-24T06:50:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/a_piao/Desktop/算法practice_C++/Arithmetic/Arithmetic.xcodeproj</string>
</dict>
</plist>
